:root {
  --primary-color: #ff9807ff;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(255, 152, 7, 0.017);
  width: 100%;
  height: 100vw;
}

.welcome-message {
  font-size: 4rem;
}

.app-name {
  font-family: 'Fascinate', cursive;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: var(--primary-color);
}

.start {
  color: var(--primary-color);
  font-size: 2.5rem;
}